html {
    padding: 0 200px
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

main {
    padding-top: 100px;
}

header #chikara-kacper-logo {
    font-size: 80px;
    width: 300px;
    padding-top: 50px;
    padding-right: 0;
    margin: 0;
}

.social-media-icon {
    width: 50px;
}

#about {
    display: flex;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

#hello-message-with-name {
    font-size: 30px;
    flex: 1;
    margin-right: 100px;
}

#personal-photo {
    width: 600px;
    object-fit: cover;
    justify-content: flex-end;
    border: black solid 5px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    align-self: flex-start;
}

.clickable-link-button {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}

.clickable-link-button li {
    padding: 20px;
    border: black solid 5px;
    border-radius: 15%;
    margin-right: 30px;
}

.social-media-icons a {
    margin: 0 20px;
}