html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background: linear-gradient(135deg, #f5f5dc, #ecd0ab); /* Gradient kawowy */
    font-family: Arial, sans-serif;
    color: #3e2723;
    margin-left: ;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: linear-gradient(#d2b48c, #6f4e37);
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: color 0.3s ease;
    font-weight: bold;
}

nav ul li a:hover {
    color: #d2b48c;
}

.clickable-reference-button {
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Wyśrodkowuje elementy w pionie, jeśli wysokość jest zdefiniowana */
    min-height: 100vh; /* Sprawia, że sekcja main zajmuje co najmniej 100% wysokości okna przeglądarki */
    padding-top: 50px; /* Dostosuj padding według potrzeb */
}

#my-name {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
    color: #6f4e37;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.social-media-icon {
    width: 50px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
}

#hello-message-with-name {
    font-size: 30px;
    margin-bottom: 20px;
}

#personal-photo {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: 4px solid #3e2723;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#personal-photo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.clickable-link-button-container {
    margin-left: 20px;
    list-style-type: none;
    padding: 0;
}

.clickable-link-button-container li {
    display: inline;
    margin-right: 30px;
}

.info-link-button {
    padding: 20px 80px;
    margin-left: 0;
    background: linear-gradient(45deg, #6f4e37, #d2b48c);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-link-button:hover {
    background: linear-gradient(45deg, #d2b48c, #6f4e37);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.social-media-icons img {
    width: 50px; /* Początkowy rozmiar */
    height: 50px;
    margin-right: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-media-icons img:hover {
    transform: scale(1.5); /* Powiększenie ikony */
}


.kacper-name {
    color: #000000;
}